<html>
{% if globals().get('id') %}
    <head>
        <title>Bet {{ id }}</title>
    </head>
    <body>
    <h1>Bet {{ name }}</h1>
    <form action="/bet/{{ id }}" method="POST">
        <p>Bet Name: <input type="text" name="name" value={{ name }}><p>
        <p>Event schedule date: <input type="text" name="date" value={{ globals().get('date') }}><p>
        <p>Opt1 Name: <input type="text" name="opt1name" value={{ opt1name }}><p>
        <p>Opt1 Ratio: <input type="text" name="opt1ratio" value={{ opt1ratio }}><p>
        <p>OptX Name: <input type="text" name="optxname" value={{ optxname }}><p>
        <p>OptX Ratio: <input type="text" name="optxratio" value={{ optxratio }}><p>
        <p>Opt2 Name: <input type="text" name="opt2name" value={{ opt2name }}><p>
        <p>Opt2 Ratio: <input type="text" name="opt2ratio" value={{ opt2ratio }}><p>
        <p><input type="submit" value="save"/></p>
        {% module xsrf_form_html() %}
    </form>
    </body>
{% else %}
    <head>
        <title>New bet</title>
    </head>
    <body>
    <h1>Please enter bet details</h1>
    <form action="/bet" method="POST">
        <p>Bet Name: <input type="text" name="name"/><p>
        <p>Event schedule date: <input type="text" name="date"/><p>
        <p>Opt1 Name: <input type="text" name="opt1name"/><p>
        <p>Opt1 Ratio: <input type="text" name="opt1ratio"/><p>
        <p>OptX Name: <input type="text" name="optxname"/><p>
        <p>OptX Ratio: <input type="text" name="optxratio"/><p>
        <p>Opt2 Name: <input type="text" name="opt2name"/><p>
        <p>Opt2 Ratio: <input type="text" name="opt2ratio"/><p>
        <p><input type="submit" value="add"/></p>
        {% module xsrf_form_html() %}
    </form>
    </body>
{% end %}
</html>