<html>
<head>
<title>All bets</title>
</head>
<body>
<h1>All bets</h1>
<table cellspacing="0" cellpadding="5" border="1">
  <thead>
    <tr>
        <th>Bet id</th>
        <th>Bet name</th>
        <th>Scheduled date</th>
        <th>Team 1</th>
        <th>X</th>
        <th>Team 2</th>
    </tr>
  </thead>
  <tbody>
      {% for bet in data %}
        <tr>
          <td><a href="/bet/{{ bet['id'] }}" target="_blank">{{ bet['id'] }}</a></td>
          <td><a href="/bet/{{ bet['id'] }}" target="_blank">{{ bet['name'] }}</a></td>
          <td>{{ bet.get('date') }}</td>
          <td>{{ bet['opt_1_name'] }}({{ bet['opt_1_ratio'] }})</td>
          <td>{{ bet['opt_x_name'] }}({{ bet['opt_x_ratio'] }})</td>
          <td>{{ bet['opt_2_name'] }}({{ bet['opt_2_ratio'] }})</td>
        </tr>
      {% end %}
  </tbody>
</table>
</body>
</html>
