<html>
<head>
<title>All classes</title>
</head>
<body>
<h1>All classes</h1>
<table cellspacing="0" cellpadding="5" border="1">
  <thead>
    <tr>
        <th>Class id</th>
        <th>Class name</th>
        <th>Scheduled date</th>
    </tr>
  </thead>
  <tbody>
      {% for _class in data %}
        <tr>
          <td><a href="/class/{{ _class['id'] }}" target="_blank">{{ _class['id'] }}</a></td>
          <td><a href="/class/{{ _class['id'] }}" target="_blank">{{ _class['name'] }}</a></td>
          <td>{{ _class.get('date') }}</td>
        </tr>
      {% end %}
  </tbody>
</table>
</body>
</html>
