<html>
<head>
    <title>class application</title>
</head>
{% if globals().get('id') %}
    <body>
    <h1>Submit your bets for class "{{ context['class']['name'] }}"</h1>
    <br>
    Last date to submit: {{ context['class']['date'] }}
    <br>
    <form action="/classapplication/{{ id }}" method="POST">
        <p>Amount: <input type="text" name="amount" value={{ amount }}><p>
        <fieldset>
            <legend>Bets:</legend>
            {% for bet in bets %}
                {% block bet %}
                        <p>{{ bet['opt_1_name'] }}({{ bet['opt_1_ratio'] }})/{{ bet['opt_x_name'] }}({{ bet['opt_x_ratio'] }})/{{ bet['opt_2_name'] }}({{ bet['opt_2_ratio'] }}) <input type="text" name={{ 'bet_' + str(bet['bet_id']) }} list="betApplicationList" value={{ bet['value'] }}><p>
                {% end %}
            {% end %}
        </fieldset>
        <datalist id="betApplicationList">
            <option value="1">
            <option value="X">
            <option value="2">
        </datalist>
        <p><input type="submit" value="save"/></p>
        {% module xsrf_form_html() %}
    </form>
    </body>
{% else %}
    <body>
    <h1>Submit your bets for class "{{ context['class']['name'] }}"</h1>
    <br>
    Last date to submit: {{ context['class']['date'] }}
    <form action="/class/apply/{{ group_id }}" method="POST">
        <p>Amount: <input type="text" name="amount"><p>
        <fieldset>
            <legend>Bets:</legend>
            {% for class_bet in context['class_bets'] %}
                {% block class_bet %}
                    <p>{{ class_bet['opt_1_name'] }}({{ class_bet['opt_1_ratio'] }})/{{ class_bet['opt_x_name'] }}({{ class_bet['opt_x_ratio'] }})/{{ class_bet['opt_2_name'] }}({{ class_bet['opt_2_ratio'] }}) <input type="text" name={{ 'bet_' + str(class_bet['id']) }} list="betApplicationList"><p>
                {% end %}
            {% end %}
        </fieldset>
        <datalist id="betApplicationList">
            <option value="1">
            <option value="X">
            <option value="2">
        </datalist>
        <p><input type="submit" value="save"/></p>
        {% module xsrf_form_html() %}
    </form>
    </body>
{% end %}
</html>