<html>
{% if globals().get('id') %}
    <head>
        <title>class {{ id }}</title>
    </head>
    <body>
    <h1>Class details</h1>
    <form action="/class/{{ id }}" method="POST">
        <p>Class Name: <input type="text" name="name" value={{ name }}><p>
        <p>Date: <input type="text" name="date" value={{ date }}><p>
        <select name="bets" size="20" multiple>
            {% for bet in context['bets'] %}
                {% block bet %}
                    {% if bet['id'] in bet_ids %}
                        <option selected="true" value={{ int(bet['id']) }}>{{ escape(bet['name']) }}({{ bet['date'] }})</option>
                    {% else %}
                        <option value={{ int(bet['id']) }}>{{ escape(bet['name']) }}({{ bet['date'] }})</option>
                    {% end %}
                {% end %}
            {% end %}
        </select>
        <p><input type="submit" value="save"/></p>
        {% module xsrf_form_html() %}
    </form>
    </body>
{% else %}
    <head>
        <title>New Class</title>
    </head>
    <body>
    <h1>Please enter the class details</h1>
    <form action="/class" method="POST">
        <p>Class Name: <input type="text" name="name"/><p>
        <p>Date: <input type="text" name="date"/><p>
        <select name="bets" size="20" multiple>
            {% for bet in context['bets'] %}
                {% block bet %}
                    <option value={{ int(bet['id']) }}>{{ escape(bet['name']) }}({{ bet['date'] }})</option>
                {% end %}
            {% end %}
        </select>
        <p><input type="submit" value="add"/></p>
        {% module xsrf_form_html() %}
    </form>
    </body>
{% end %}
</html>