<html>
<head>
<title>All groups</title>
</head>
<body>
<h1>All groups</h1>
<table cellspacing="0" cellpadding="5" border="1">
  <thead>
    <tr>
        <th>Group id</th>
        <th>Group name</th>
        <th>Members</th>
    </tr>
  </thead>
  <tbody>
      {% for group in data %}
        <tr>
          <td><a href="/group/{{ group['id'] }}" target="_blank">{{ group['id'] }}</a></td>
          <td><a href="/group/{{ group['id'] }}" target="_blank">{{ group['name'] }}</a></td>
          <td>{{ group['users'] }}</td>
        </tr>
      {% end %}
  </tbody>
</table>
</body>
</html>
