<html>
{% if globals().get('id') %}
    <head>
        <title>Group {{ id }}</title>
    </head>
    <body>
    <h1>{{ name }}</h1>
    your balance is: {{ context.get('user_balance', 'NA') }}

    <br><br>Group rating:
    <table cellspacing="0" cellpadding="5" border="1">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
          {% for idx, user in enumerate(context.get('group_scores', []), 1) %}
            <tr>
              <td>{{ idx }}</td>
              {% if user['user_id'] == context['current_user'] %}
                <td>you</td>
              {% else %}
                <td>{{ context['users_by_id'].get(user['user_id'])['name'] }}</td>
              {% end %}
              <td>{{ user['balance'] }}</td>
            </tr>
          {% end %}
        </tbody>
    </table>

    <br><br>classes:
    <table cellspacing="0" cellpadding="5" border="1">
        <thead>
            <tr>
                <th>Class name</th>
                <th>Date</th>
                <th>Score</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
          {% for _class in context['classes'] %}
            <tr>
              <td>{{ _class['name'] }}</td>
              <td>{{ _class['date'] }}</td>
              <td>{{ context['user_scores'].get(_class['id'], 'No score') }}</td>
              {% if context['user_class_apps'].get(_class['id']) %}
                <td><a href="/classapplication/{{ context['user_class_apps'].get(_class['id']) }}" target="_blank">edit</a></td>
              {% else %}
                <td><a href="/class/apply/{{ id }}/{{ _class['id'] }}" target="_blank">submit</a></td>
              {% end %}
            </tr>
          {% end %}
        </tbody>
    </table>
    <br><br>Modify group details
    <form action="/group" method="POST">
        <p>Group Name: <input type="text" name="name" value={{ name }}><p>
        <p>Starting amount: <input type="text" name="startamount" value={{ startamount }}><p>
        <select name="users" multiple>
            {% for user in context['users_by_id'].values() %}
                {% block user %}
                    <option value={{ int(user['user_id']) }}>{{ escape(user['name']) }}({{ user['email'] }})</option>
                {% end %}
            {% end %}
        </select>
        <p><input type="submit" value="save"/></p>
        {% module xsrf_form_html() %}
    </form>
    your registration link is - {{ registrationLink }}
    </body>
{% else %}
    <head>
        <title>New group</title>
    </head>
    <body>
    <h1>Please enter the group details</h1>
    <form action="/group" method="POST">
        <p>Group Name: <input type="text" name="name"/><p>
        <p>Starting amount: <input type="text" name="startamount"/><p>
        <select name="users" multiple>
            {% for user in context['users_by_id'].values() %}
                {% block user %}
                    <option value={{ int(user['user_id']) }}>{{ escape(user['name']) }}({{ user['email'] }})</option>
                {% end %}
            {% end %}
        </select>
        <p><input type="submit" value="add"/></p>
        {% module xsrf_form_html() %}
    </form>
    </body>
{% end %}
</html>