<html>
<head>
<title>Welcome Back!</title>
</head>
<body>
<h1>Welcome, {{ current_user }}</h1>
{% if not current_user %}<a href="/login">login</a> <a href="/register">register</a>{% end %}
{% if current_user %} <a href="/logout">logout</a>{% end %}
</body>
</html>