<html>
<head>
<title>New user registration</title>
</head>

<body>
<h1>Please fill in your details</h1>
<form action={{ "/register/{}".format(token) if globals().get('token') else "/register" }} method="POST">

    <p>First Name: <input type="text" name="firstname" /><p>
    <p>Last Name: <input type="text" name="lastname" /><p>
    <p>Email: <input type="text" name="email" /><p>
    <p>Password: <input type="password" name="password" /><p>
    <p>Retype Password: <input type="password" name="retypepassword" /><p>
    <p><input type="submit" value="Register" /></p>
    {% module xsrf_form_html() %}

</form>
{% if error %}<h1>oppppsssi pooopsi...{{ error }}</h1>{% end %}
</body>
</html>