<html>
<head>
<title>Welcome</title>
</head>
<body>
<h1>Welcome, {{ current_user }}</h1>
{% if user_groups %}
Your groups
<table cellspacing="0" cellpadding="5" border="1">
  <thead>
    <tr>
        <th>Group</th>
    </tr>
  </thead>
  <tbody>
      {% for user_group in user_groups %}
        <tr>
          <td><a href="/group/{{ user_group['group_id'] }}" target="_blank">{{ escape(user_group['group_name']) }}</a></td>
        </tr>
      {% end %}
  </tbody>
</table>
{% else %}
  No active groups found for you. Please click <a href="/group" target="_blank">here</a> for open a new group.
{% end %}
<br>
<a href="/search/bets" target="_blank">All bets</a>
<a href="/search/classes" target="_blank">All classes</a>
<a href="/search/groups" target="_blank">All groups</a>
</body>
</html>